[Desktop Entry]
Categories=Office;Viewer;
Comment=WYSIWYG Postscript annotator
Terminal=false
MimeType=application/postscript
Name=flpsed
GenericName=PDF/PS Editor
Exec=flpsed
Icon=
Version=
Type=Application
